<div class="clearfix mxn2">
    <div class="col-8 px2 mx-auto">
        <div class="white p4">
            {{#link-to "reconstruction" class="btn white bg-silver border p4 py2"}}
                <i class="fa fa-terminal" aria-hidden="true"></i> Reconstruction
            {{/link-to}}
        </div>
    </div>
</div>

{{outlet}}
